body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu a {
    text-decoration: none;
    background-color: #ff4747;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}
.menu a:hover {
    background-color: #c40000;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

 